<section class="partners">
  <div class="wrap">
    <p class="label">Orientale Lumen XXX was presented with</p>
    <div class="partners-row">
      <a href="https://washtheocon.org/"><img src="/images/partner-wtc.gif" alt="Washington Theological Consortium" width="385" height="136"></a>
      <a href="https://www.hchc.edu/huffington-ecumenical-institute/"><img src="/images/partner-hchc.png" alt="" width="108" height="99"><span>Huffington Ecumenical Institute<small>Hellenic College Holy Cross</small></span></a>
      <a href="https://likoudislegacy.com/"><img src="/images/partner-llf.png" alt="" width="240" height="240"><span>Likoudis Legacy Foundation<small>Baltimore</small></span></a>
    </div>
  </div>
</section>
