<section class="recog press-only">
  <div class="wrap">
    <div class="recog-press">
      <span class="label">In the press</span>
      <a href="https://www.ewtnnews.com/world/us/omalley-pace-speak-conference"><img src="/images/logo-ewtn.svg" alt="EWTN News"></a>
      <a href="https://religionnews.com/2024/04/25/28th-orientale-lumen-conference-scheduled-for-in-person-and-virtual-participation/"><img src="/images/logo-rns.svg" alt="Religion News Service"></a>
      <a href="https://www.catholicworldreport.com/2026/07/17/catholic-orthodox-bishops-join-in-dialogue-and-prayer-at-washington-d-c-conference/"><img src="/images/logo-cwr.png" alt="Catholic World Report"></a>
      <a href="https://www.ncregister.com/cna/cardinal-o-malley-at-catholic-orthodox-conference-come-together-and-pray-for-unity"><img src="/images/logo-ncr.png" alt="National Catholic Register"></a>
      <a href="https://catholicexchange.com/orientale-lumen-a-conference-rooted-in-heaven/"><img src="/images/logo-ce.png" alt="Catholic Exchange"></a>
    </div>
  </div>
</section>
