<section class="recog">
  <div class="wrap">
    <p class="label">Recognized by</p>
    <div class="recog-grid">
      <a href="/press/#leo"><img src="/images/emblem-holy-see.svg" alt=""><span><b>Pope Leo XIV</b>Medal of the first year, presented by the Apostolic Nuncio, July 2026</span></a>
      <a href="/press/#patriarch"><img src="/images/seal-patriarchate.png" alt=""><span><b>Ecumenical Patriarch Bartholomew</b>"Grass roots, and at the same time rooted in heaven"</span></a>
      <a href="/press/#koch"><img src="/images/emblem-holy-see.svg" alt=""><span><b>Cardinal Kurt Koch</b>Prefect, Dicastery for Promoting Christian Unity. Addresses to OL XXIII and OL XXX</span></a>
      <a href="/press/#miller"><img src="/images/logo-ncc.png" alt=""><span><b>National Council of Churches</b>Miller Award for Excellence in Ecumenical Leadership, 2023</span></a>
    </div>
    <div class="recog-press">
      <span class="label">In the press</span>
      <a href="https://www.ewtnnews.com/world/us/omalley-pace-speak-conference"><img src="/images/logo-ewtn.svg" alt="EWTN News"></a>
      <a href="https://religionnews.com/2024/04/25/28th-orientale-lumen-conference-scheduled-for-in-person-and-virtual-participation/"><img src="/images/logo-rns.svg" alt="Religion News Service"></a>
      <a href="https://www.catholicworldreport.com/2026/07/17/catholic-orthodox-bishops-join-in-dialogue-and-prayer-at-washington-d-c-conference/"><img src="/images/logo-cwr.png" alt="Catholic World Report"></a>
      <a href="https://www.ncregister.com/cna/cardinal-o-malley-at-catholic-orthodox-conference-come-together-and-pray-for-unity"><img src="/images/logo-ncr.png" alt="National Catholic Register"></a>
      <a href="https://catholicexchange.com/orientale-lumen-a-conference-rooted-in-heaven/"><img src="/images/logo-ce.png" alt="Catholic Exchange"></a>
    </div>
  </div>
</section>
